@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
   font-family: Roboto, sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin: 0;
   padding: 0;
   height: 100vh;
   box-sizing: border-box;
   box-sizing: border-box;
}

.header {
   background-color: antiquewhite;
}

.header__nav {
   padding: 15px 0;
}

.header__ul {
   margin: 0;
   padding: 0;
   display: flex;
   list-style-type: none;
   justify-content: space-around;
   flex-wrap: wrap;

}

.header__ul li:hover {
   background-color: white;
}

.section__profile {
   padding: 20px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   border-bottom: 10px solid wheat;
}

.main {
   max-width: 1440px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin: 0 auto auto auto;
}

.section {
   display: block;
   padding: 15px;
   width: calc(50%-30px);
}

.section__title {
   text-transform: uppercase;
}

.section__foto {
   width: 200px;
   border-radius: 50%;
}

h1 {
   padding: 10px;
   border-bottom: 5px solid wheat;
}
.footer {
   font-size: 50px;
   padding: 10px 30px;
   display: flex;
   justify-content: space-between;
   background-color: antiquewhite;
}
.rsschool__img {
height: 100%;
}
.github__img {
   height: 100%;
}